*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navSection{
    background-color: burlywood;
    min-height: 90vh;
}
.navbar{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding:24px 32px;
}
.links a{
    margin:0px 15px;
}
.links a , a{
    text-decoration:none;
    color:white;
    font-size: 20px;
}
.contact{
    background: white;
    color:darkgoldenrod;
    border-radius: 30px;
    padding: 10px;
}
.contact:hover{
    opacity: 0.8;
}
.personalDiv{
    padding: 0px 20%;
}
.title{
    font-size:60px;
    letter-spacing: 2px;
    padding: 0px 30px;
}
.aboutMe{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.aboutMe p {
    width: 50%;
    padding: 20px;
}
.skills{
    display: flex;
    gap: 20px;
    margin: 25px 0px;
}
.skills  li{
    list-style: none;
}
.blogContents{
    padding: 0px 20%;
    padding-bottom:30px ;
}
.mainTitle{
    font-size: 50px;
    margin-left: 20%;
    padding: 120px 0px 50px 0px;
}
.blogTitle,.blogText{
    padding: 20px 0px;
    font-weight: normal;
    font-size: 20px;
}
.blogDate{
    padding: 20px 0px;
}
.LiveTrainings h1{
    padding: 0px 20%;
    font-size: 2.5rem;
}
.LiveTrainings h1{
    padding-top: 90px;
}
.LiveTrainings{
    background-color: grey;
    padding: 30px
}
.events {
    font-size: 25px;
    padding: 0px 20%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.event{
    border: solid 1px black;
    border-radius: 30px;
    margin: 0px 5px;
    padding: 20px;
    display: flex;
    gap: 33rem;
    align-items: center;
}
.trainKind{
    font-size: 16px;
}
.trainKind .trainDate{
    color: rgba(34, 32, 32, 0.622);
}
.footer{
    background-color: #000;
    width: 100%;
    height: 25vh;
}
.footer i{
    color: white;
    font-size: 30px;
}
.logos{
    text-align: center;
    padding: 60px;
}
